$primary: #fdce40;
$second: #707070;
$third: #444035;
$fourth: #d1a126;
@font-face {
  font-family: "Questv1";
  font-weight: bold;
  src: url("../fonts/Questv1-Bold.otf");
}
@font-face {
  font-family: "Questv1";
  font-weight: 400;
  src: url("../fonts/Questv1-Regular.otf");
}
* {
  margin: 0;
  padding: 0;
  font-family: "Questv1", sans-serif !important;
  box-sizing: border-box;
}
html,
body {
  // direction: rtl;
  background: white;
}
#app {
  background-color: white;
}
.en {
  direction: ltr;
  text-align: left;
}
.ar {
  direction: rtl;
  text-align: right;
}
.container {
  max-width: 1300px !important;
  margin: 0 auto;
}
.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
a {
  text-decoration: none;
  font-weight: 400 !important;
}
ul {
  list-style: none;
}
button {
  outline: none !important;
}
@import "components/header";
@import "components/dashboardHeader";
@import "pages/index";
@import "pages/category";
@import "pages/login";
@import "pages/register";
@import "pages/product";
@import "pages/confirm";
@import "pages/winner";
@import "pages/profile";
@import "pages/wallet";
@import "pages/rechargeWallet";
@import "pages/changePassword";
@import "pages/terms";
@import "pages/about";
@import "pages/privacy";
@import "pages/payment";
@import "pages/payWithYamluck";
@import "pages/messages";
@import "pages/interests";
@import "pages/favs";
