body {
  margin: 0;
  padding: 0;
  width: 100vw !important;
  overflow-x: hidden !important;
}

:root {
  --main-color: #f7f7f7;
  --sec-color: #8080803b;
  --yellow-color: #ffc122;
}

.nav-item .nav-link.active {
  color: var(--yellow-color) !important;
}

.navbar-toggler {
  outline: none !important;
  border: none !important;
}

.navbar-toggler:hover {
  outline: none !important;
  border: none !important;
}

.navbar-toggler .navbar-toggler-icon {
  color: #fff !important;
}

.home-section {
  background: var(--main-color);
  border-bottom: 5px solid var(--yellow-color);
  height: 50vh;
}

@media screen and (max-width: 767px) {
  .home-section {
    background: var(--main-color);
    border-bottom: 5px solid var(--yellow-color);
    height: 60vh;
    justify-content: center;
  }

  .center {
    text-align: center;
  }
}

.home {
  background: url("images/الواجهة-الرأيسية.jpg") no-repeat center;
  background-position: center;
  background-size: cover;
  background-clip: border-box;
  width: 100vw;
  height: calc(100vh - 90.7px);
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .home {
    height: 60vh;
  }
}

.main-btn {
  border: 1px solid #000;
}

.main-btn:hover {
  border: 1px solid #000;
  color: #fff;
  background: var(--main-color);
}

.offer-body {
  border-radius: 13px;
  background: white;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  border: 1px solid rgb(45 45 45 / 14%);
  overflow: hidden;
  z-index: 9999999999;
  position: relative;
}

.user-name {
  font-weight: bold;
  font-size: 18px;
}

.logo-distinct {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -8%;
}

.logo-distinct img {
  width: 350px;
  height: 70px;
  object-fit: fill;
  border-radius: 7px;
}

.offer-user {
  display: flex;
  align-items: center;
}

.user-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  padding: 3px;
}

.offer-image img,
.offer-image video {
  width: 149px;
  height: auto;
}

/* @media screen and (max-width: 767px) {
  .offer-image video {
    display: none;
  }
} */

.related-product-img {
  width: 100%;
  height: 217px;
  object-fit: scale-down;
  object-position: center;
}

@media screen and (max-width: 767px) {
  .offer-body {
    width: 100%;
  }

  .logo-distinct img {
    width: 250px;
    height: 70px;
    object-fit: fill;
    object-position: center;
  }

  .logo-distinct {
    top: -7%;
  }
}

/* .related-product {
  width: 400px;
} */

/* .progress-offer {
  display: flex;
  justify-content: center;
}
*/

.progress-offer .progress {
  border: 1px solid var(--yellow-color);
}

.offer-share {
  /* float: right; */
  text-align: right;
}

.product-icons {
  background: var(--sec-color);
}

.sold-scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.sold-scroll::-webkit-scrollbar {
  display: none;
}

.user-distinct {
  position: absolute;
  top: 20px;
  right: 0%;
}
.body-pop {
  width: 38% !important;
  margin: auto !important;
}
.pomp-image {
  height: 100vh;
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.49);
  z-index: 9999999999999999999999;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  border-radius: 12px;
  animation-name: shinning;
  animation-duration: 1.5s;
}
@keyframes shinning {
  from{
    opacity: 0.1;
  }
  to{
    opacity: 1;
  }
}

.content-pop {
  width: 90%;
  height: 90vh;
  /* height: 250px; */
  object-fit: contain;
  object-position: center;
}

.product-body {
  background-color: var(--main-color);
}

.product-links a {
  width: 100px;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.product-title span {
  font-size: 13px;
}

.product-links img {
  width: 25px;
}

.product-icons img {
  width: 40px;
}

@media screen and (max-width: 767px) {
  .product-image {
    height: 150px;
    border-width: 1px;
  }

  .product-title span {
    font-size: 10px;
  }

  .product-links img {
    width: 16px;
  }

  .product-icons img {
    width: 30px;
  }

  .product-body {
    background-color: var(--main-color);
    width: 100%;
  }
}

/* .product-icons {
  background-color: #ffc022;
} */

.menu__name {
  background: var(--main-color);
}

.winners {
  background-color: var(--main-color);
}

.winners-body {
  background: var(--sec-color);
}

.winners-scrollabar {
  overflow-x: scroll;
}

.winners-scrollabar::-webkit-scrollbar {
  display: none;
}

.sold-image {
  border: 2px solid var(--yellow-color);
  border-radius: 7px;
}

.smarterway {
  color: #2B3C6B;
  font-size: 39px;
  font-weight: 600;
  line-height: 44.61px;
  letter-spacing: 3.20px;
  word-wrap: break-word
}

.anythingtext {
  color: #FF7162;
  font-size: 32px;
  font-weight: 600;
  line-height: 44.61px;
  letter-spacing: 3.20px;
  word-wrap: break-word
}

.smarterway_ar {
  color: #2B3C6B;
  font-size: 39px;
  font-weight: 600;
  line-height: 44.61px;
  word-wrap: break-word
}

.anythingtext_ar {
  color: #FF7162;
  font-size: 32px;
  font-weight: 600;
  line-height: 44.61px;
  word-wrap: break-word
}
