.change-password-page {
  .breadcrumb {
    font-size: 15px;
  }
  .sides {
    display: flex;
    margin-top: 5%;
    flex-wrap: wrap;
    gap: 20px;
    .menu {
      flex: 0.7;
      border: 1px solid #e4e4e4;
      padding: 15px 0px 15px 0px;
      border-radius: 3px;
      @media screen and (max-width: 768px) {
        width: 100%;
        flex: 1;
      }
      span {
        color: $primary;
        font-weight: 600;
      }
      ul {
        margin-top: 8%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        li {
          padding-right: 3%;
          color: #707070;
          a {
            color: inherit;
          }
        }
        li.active {
          border-right: 2px solid $primary;
          color: black;
          font-weight: 600;
        }
      }
    }
    .content {
      flex: 2.5;
      border: 1px solid #e4e4e4;
      border-radius: 3px;
      .heading {
        padding: 15px;
        border-bottom: 1px solid #e4e4e4;
        color: $primary;
        font-weight: 600;
      }
      .form {
        padding: 20px;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        .input-group {
          label {
            color: #707070;
            font-weight: 400;
          }
          input,
          select {
            border: 1px solid #707070;
            padding: 8px;
            border-radius: 5px;
            outline: none;
            transition: 0.4s;
            &:focus {
              border: 1px solid $primary;
            }
          }
        }
        .save-btn {
          background: #d1a125;
          padding: 8px 25px;
          color: white;
          border-radius: 5px;
          margin: 3% auto;
          display: block;
          width: 100%;
        }
      }
    }
  }
}
