.confirm-page {
  margin-bottom: 5%;
  .container {
    .heading {
      width: 100%;
      font-size: 15px;
      display: flex;
      justify-content: space-between;
      margin-top: 2%;
      margin-bottom: 5%;
      h3 {
        color: $primary;
      }
      span {
        text-align: left;
        display: block;
        color: #707070;
      }
    }
    .subscribers {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      margin: 5% auto;
      height: auto;
      .images {
        flex: 1.5;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        height: 450px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          width: 10px;
        }
        &::-webkit-scrollbar-track {
          border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
          background: $primary;
          border-radius: 10px;
        }
        .profile-img {
          width: 70px;
          height: 70px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
        }
      }
      .preview {
        flex: 1.5;
        height: 450px;
        width: 450px;
        max-width: 100%;
        @media screen and (max-width: 768px) {
          flex: auto;
        }
        .swiper {
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
          .swiper-pagination-bullet-active {
            background-color: #928dab !important;
          }
        }
        .timer {
          display: flex;
          justify-content: space-between;
          border-radius: 5px;
          padding: 10px;
          align-items: center;
          border: 1px solid $primary;
          .text {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 14px !important;
            color: $primary;
          }
          .time {
            font-weight: bold;
            color: $primary;
          }
        }
      }
    }
  }
}
