.favs {
  .page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cards {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    .cardd {
      display: flex;
      align-items: center;
      gap: 10px;
      border-bottom: 1px solid rgb(236, 236, 236);
      padding: 10px;
      justify-content: space-between;
      @media screen and (max-width: 768px) {
        flex-wrap: wrap;
      }
      .icon {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .subject {
        font-weight: bold;
        font-size: 17px;
        color: $fourth;
      }
      .content {
        font-size: 14px;
        color: #383838;
      }
    }
  }
}
