@import url('https://fonts.cdnfonts.com/css/montserrat');
*{
  font-family: 'Montserrat', sans-serif !important;
}
#login-page {
  min-height: 100vh;
  background: url("/pics/background.jpg") no-repeat center center;
  background-size: cover;

  .container {
    .side {
      padding: 20px;
      background: #b2ad9a;
      margin: 5% auto 5% 5%;
      z-index: 99999999999;
      position: relative;
      .form {
        form {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
      }

      .input-group {
        display: flex;
        flex-direction: column;
        gap: 10px;

        label {
          color: gray;
          font-size: 14px;
          margin-bottom: -6px;
          margin-left: 2px;
          font-weight: 400;
        }

        input {
          background: white;
          padding: 8px 20px 8px 10px;
          border: 2px solid #ededed;
          outline: none;
          border-radius: 5px;

          &::placeholder {
            color: gray;
            font-size: 12px;
          }
        }
      }

      .checkbox-group {
        display: flex;
        gap: 10px;
        align-items: center;
      }

      a {
        color: gray;
        font-size: 15px;
      }

      .login-btn {
        background-color: #F2AC4B;
        padding: 10px;
        border-radius: 3px;
        font-weight: 600;
        color: white;
        width: 100%;
      }
    }

    .dont-have-account {
      font-size: 15px;
      font-weight: 500;
      margin-top: 2%;
      display: block;
      color: #444035;

      a {
        color: $primary;
      }
    }

    .or-login-with {
      margin-top: 4%;
      display: flex;
      flex-direction: column;
      gap: 8px;

      .line {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #343f56;
        line-height: 0.1em;
        margin: 10px 0 20px;
        color: #343f56;
        font-weight: 600;

        span {
          background: #fff;
          padding: 0 10px;
        }
      }

      .social {
        display: flex;
        gap: 15px;
        flex-direction: row;
        justify-content: center !important;

        .facebook {
          width: auto;
          background: #3b5999;
          padding: 6px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          gap: 10px;
          justify-content: center;
          font-weight: 600;
        }

        .mdi-facebook {
          color: white;
          font-size: 25px;
        }

        .google {
          width: auto;
          padding: 6px;
          border-radius: 50%;
          background: #db3236;
          display: flex;
          align-items: center;
          gap: 10px;
          justify-content: center;
          font-weight: 600;
        }

        .mdi-google {
          color: white;
          font-size: 22px;
        }
      }
    }
  }
}
