#login-page {
  min-height: 100vh;
  background: url("/pics/background.jpg") no-repeat center center;
  background-size: cover;
  .container {
    .side {
      padding: 20px;
      max-width: 500px;
      background: #b2ad9a;
      border-radius: 10px;
      margin: 5% auto 5% 5%;
      h3 {
        color: #ffe297;
        margin: 3%;
      }

      .form {
        form {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
      }
      .input-group {
        display: flex;
        flex-direction: column;
        gap: 10px;
        label {
          color: $primary;
          font-weight: 600;
        }
        input {
          padding: 10px 20px 10px 10px;
          border: 2px solid #ededed;
          outline: none;
          border-radius: 5px;
          &::placeholder {
            color: white;
          }
        }
      }
      .checkbox-group {
        display: flex;
        gap: 10px;
        align-items: center;
      }
      a {
        color: white;
        font-size: 15px;
      }
      .login-btn {
        background-color: $primary;
        padding: 10px;
        border-radius: 3px;
        font-weight: 600;
        color: white;
        width: 100%;
      }
    }

    .dont-have-account {
      font-size: 15px;
      font-weight: 500;
      margin-top: 2%;
      display: block;
      color: #444035;
      a {
        color: $primary;
      }
    }
    .or-login-with {
      margin-top: 10%;
      display: flex;
      flex-direction: column;
      gap: 8px;
      .line {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #343f56;
        line-height: 0.1em;
        margin: 10px 0 20px;
        color: #343f56;
        font-weight: 600;
        span {
          background: #fff;
          padding: 0 10px;
        }
      }
      .social {
        display: flex;
        gap: 15px;
        flex-direction: column;
        .facebook {
          width: 100%;
          background: #3b5999;
          padding: 9px;
          border-radius: 5px;
          color: white;
          display: flex;
          align-items: center;
          gap: 10px;
          justify-content: center;
          font-weight: 600;
        }
        .mdi-facebook {
          color: white;
          font-size: 25px;
        }
        .google {
          width: 100%;
          background: white;
          padding: 9px;
          border-radius: 5px;
          color: #db3236;
          display: flex;
          align-items: center;
          gap: 10px;
          justify-content: center;
          font-weight: 600;
        }
        .mdi-google {
          color: #db3236;
          font-size: 22px;
        }
      }
    }
  }
}
